version: "3.9"

networks:
  nginx_proxy_manager_proxy:
    name: nginx_proxy_manager_proxy
    external: true
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.89.0/24

x-common-keys-core: &common-keys-core
  networks:
    - nginx_proxy_manager_proxy
  security_opt:
    - no-new-privileges:true
  restart: always
  deploy:
    resources:
      limits:
        cpus: '0.50'
        memory: 600M
services:
  nginx_proxy_manager:
    <<: *common-keys-core # See EXTENSION FIELDS at the top
    container_name: nginx-proxy-manager
    image: 'jc21/nginx-proxy-manager:2.12.1'
    # For Static IP
    networks:
    # For Static IP
      nginx_proxy_manager_proxy:
        ipv4_address: 192.168.89.254 # You can specify a static IP
    # For Dynamic IP
    # networks:
    #  - nginx_proxy_manager_proxy
    ports:
      - '80:80' # Public HTTP Port. Port Forwarding on Router is ON.
      - '443:443' # Public HTTPS Port. Port Forwarding on Router is ON.
      - '81:81' # Admin Web Port. Port Forwarding on Router is OFF. Internal Home Network Access only - 192.168.89.254:81.
    volumes:
      - $DOCKERDIR/appdata/nginx_proxy_manager/config:/config 
      - $DOCKERDIR/appdata/nginx_proxy_manager/letsencrypt:/etc/letsencrypt
      - $DOCKERDIR/appdata/nginx_proxy_manager/data:/data
      - /dev/null:/etc/s6-overlay/s6-rc.d/prepare/50-ipv6.sh
    environment:
      DB_SQLITE_FILE: "/config/database.sqlite"
      DISABLE_IPV6: 'true'
  
  portainer:
    <<: *common-keys-core # See EXTENSION FIELDS at the top
    container_name: portainer
    image: portainer/portainer-ce:2.19.4
    command: -H unix:///var/run/docker.sock # Use Docker Socket Proxy and comment this line out, for improved security.
    # command: -H tcp://socket-proxy:2375 # Use this instead, if you have Socket Proxy enabled.
    networks:
      - nginx_proxy_manager_proxy
    ports: 
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Use Docker Socket Proxy and comment this line out, for improved security.
      - $DOCKERDIR/appdata/portainer/data:/data # Change to local directory if you want to save/transfer config locally.
    environment:
      - TZ=$TZ

  unifi-controller:
    image: lscr.io/linuxserver/unifi-controller:8.0.24
    container_name: unifi-controller
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - MEM_LIMIT=1024 #optional
      - MEM_STARTUP=1024 #optional
    volumes:
      - $DOCKERDIR/appdata/unify:/config
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
      - 1900:1900/udp #optional
      - 8843:8843 #optional
      - 8880:8880 #optional
      - 6789:6789 #optional
      - 5514:5514/udp #optional
    restart: unless-stopped
        # Docker-GC - Automatic Docker Garbage Collection
  # Create docker-gc-exclude file
  # dockergc:
  #   <<: *common-keys-apps # See EXTENSION FIELDS at the top
  #   image: clockworksoul/docker-gc-cron:latest
  #   container_name: docker-gc
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock # Use Docker Socket Proxy and comment this line for improved security.
  #     - $DOCKERDIR/appdata/docker-gc/docker-gc-exclude:/etc/docker-gc-exclude # Create empty file
  #   environment:
  #     CRON: 0 0 0 * * ? # Everyday at midnight. Previously 0 0 * * *
  #     FORCE_IMAGE_REMOVAL: 1
  #     FORCE_CONTAINER_REMOVAL: 0
  #     GRACE_PERIOD_SECONDS: 604800
  #     DRY_RUN: 0
  #     CLEAN_UP_VOLUMES: 1
  #     TZ: $TZ
  #     # DOCKER_HOST: tcp://socket-proxy:2375 # Use this if you have Socket Proxy enabled.

  # # WatchTower - Automatic Docker Container Updates
  # watchtower:
  #   <<: *common-keys-core # See EXTENSION FIELDS at the top
  #   image: containrrr/watchtower
  #   container_name: watchtower
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   environment:
  #     TZ: $TZ
  #     WATCHTOWER_CLEANUP: "true"
  #     WATCHTOWER_REMOVE_VOLUMES: "true"
  #     WATCHTOWER_INCLUDE_STOPPED: "true"
  #     WATCHTOWER_NO_STARTUP_MESSAGE: "false"
  #     WATCHTOWER_SCHEDULE: "0 30 12 * * *" # Everyday at 12:30
  #     # DOCKER_HOST: tcp://socket-proxy:2375 # Use this if you have Socket Proxy enabled.
  #     DOCKER_API_VERSION: "1.40"
